body {
    font-family: 'Arial', sans-serif;
    background: #f5f5f5; 
    color: #333;
    text-align: center;
    padding: 20px;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff; 
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #0056b3;
}


.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box input {
    width: 60%;
    padding: 12px;
    border: 2px solid #0056b3;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.search-box input:focus {
    border-color: #003d80;
}

.search-box button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0056b3;
    color: #fff;
    border: none;
    padding: 12px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s;
    width: 45px;
    height: 45px;
}

.search-box button i {
    font-size: 16px;
}

.search-box button:hover {
    background: #007bff;
}


.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filters button {
    background: #e0e0e0;
    color: #333;
    border: 2px solid #ccc;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.filters button:hover {
    background: #d1d1d1;
    border-color: #0056b3;
}

#results {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.game {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.game:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.game img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.game h2 {
    font-size: 18px;
    color: #0056b3;
    margin-bottom: 10px;
}

.game p {
    font-size: 14px;
    color: #555;
}
.progress-bar {
    width: 100%; 
    height: 6px; 
    max-width: 100%; 

    background: #ddd;
    border-radius: 5px;
    margin: 10px auto; 
    position: relative;
  }
  .progress div {
    width: calc(min(100%, var(--score))); 
    background-color: #007bff;
    height: 8px;
    border-radius: 5px;
  }
  .progress {
    height: 100%;
    background: #007bff;
    border-radius: 5px;
    max-width: 100%; 
    overflow: hidden; 
  }
  
